# The show is live!
Watch it here: 
<center style="font-size:200%; font-weight:bold"><a href='https://youtu.be/s-09kI6kuOM'>youtu.be/s-09kI6kuOM</a></center>
<span style="font-size:80%">To ensure that the show is recorded (YouTube's maximum stream length that it will record is less than 24 hours), we will be moving streams twice during the show.
We'll be keeping the link here up to date, and posting the new links in the video comments and description.</span>

The show is raising money for four charities: Beat Eating Disorders, the Rheumatoid Arthritis Foundation, the Disasters Emergency Committee, and the Malala Fund.
You can donate to one or all of these charities on [our Just Giving page](https://www.justgiving.com/team/24hourmathsgameshow).

<center><a href='https://www.justgiving.com/team/24hourmathsgameshow'><img src='/assets/img/charity-logos.png' style='width:80%' class='noshadow'></a></center>

So far we have raised a total of {%include _total.html %} for our charities.

{%include _progress.html %}

&nbsp;

