# The show has finished
You can rewatch it at:
<ul>
<li><a href='https://youtu.be/s-09kI6kuOM'>Part 1 (7pm - 4am)</a></li>
<li><a href='https://youtu.be/j6YzTZ61hhU'>Part 2 (4am - 12pm)</a></li>
<li><a href='https://youtu.be/VakFxGLz5Ik'>Part 3 (12pm - 7pm)</a></li>
</ul>

The show is raising money for four charities: Beat Eating Disorders, the Rheumatoid Arthritis Foundation, the Disasters Emergency Committee, and the Malala Fund.
You can donate to one or all of these charities on [our Just Giving page](https://www.justgiving.com/team/24hourmathsgameshow).

<center><a href='https://www.justgiving.com/team/24hourmathsgameshow'><img src='/assets/img/charity-logos.png' style='width:80%' class='noshadow'></a></center>

So far we have raised a total of {%include _total.html %} for our charities.

{%include _progress.html %}

&nbsp;

